.about {
  margin-top: 5rem;
  width: 100%;

  header {
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url("../img/svg/about\ us.svg");
    .header-text {
      h1 {
        color: @primaryColor;
      }
    }
  }
}
