footer {
  background-color: @primaryColor;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
  color: @whiteColor;
  font-family: @fontFamily1;
  .contact-info {
    padding: 2rem 0;
    a {
      color: @whiteColor;
      text-decoration: none;
      i {
        padding: 0 5rem;

        &:hover {
          .transition(0.5s, 1.2);
          cursor: pointer;
        }
      }
    }
  }
}
