.landing {
  width: 100%;
  margin-top: 5rem;
  @media (max-width: 500px) {
    margin-top: 0px;
  }
  header {
    width: 100%;
    background-image: url("../img/headerimg.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    opacity: 0.8;
    background-size: 100% 100%;
    // clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);

    .header-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      h1 {
        color: @whiteColor;
      }
      align-items: center;
    }
  }

  .courses {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    //   background-color: @secondaryColor;

    h3 {
      width: 100%;
      margin: 1rem 0;
    }

    .card {
      background-color: #d1e0e0;
      width: 22%;
      margin: 2rem 0;

      .card-img {
        width: 100%;
        height: 200px;
      }

      .card-body {
        h4 {
          padding: 1rem 2rem 2rem 3rem;
          margin: 1rem 0;
          font-weight: bolder;
        }

        p {
          padding-left: 3rem;
          padding-right: 3rem;
        }

        h5 {
          color: @primaryColor;
          padding: 1rem 0 2rem 3rem;
          font-size: 2rem;
          font-family: @fontFamily2;
        }

        .lecturer {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-bottom: 1rem;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }

          h6 {
            font-family: @fontFamily2;
            font-size: 2rem;
            color: @primaryColor;
          }
        }
      }

      &:hover {
        -webkit-box-shadow: 0px 2px 18px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 2px 18px -2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 2px 18px -2px rgba(0, 0, 0, 0.75);
      }
    }
  }

}

.button {
  .button-mixin(@secondaryColor, @primaryColor);
}
