.button-mixin(@color, @backgroundColor) {
  background-color: @backgroundColor;
  border: none;
  padding: 1rem 2rem;
  font-size: 3rem;
  color: @color;
  font-family: @fontFamily1;
  outline: none;
  cursor: pointer;
  .transition(0.3s, 1.05);

  a {
    text-decoration: none;
    color: inherit;
  }
  &:hover {
    color: @backgroundColor;
    background-color: @color;
    border: 1px solid @backgroundColor;
  }
  @media @phone {
    font-size: 1.5rem;
  }
}

.transition(@time, @scale) {
  transition: all @time ease-in-out;

  &:hover {
    transform: scale(@scale);
  }
}

.backgroundImage(@url, @opacity, @height) {
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, @opacity),
      rgba(255, 255, 255, @opacity)
    ),
    url(@url);
  width: 100%;
  background-repeat: no-repeat;
  height: @height;
  background-size: cover;
  background-position: center;
}

.anchorTag(@color: @whiteColor) {
  color: @color;
  text-decoration: none;
}
